<header class="header">
    <div class="header__logo">
      <a href="/">Admin Panel</a>
    </div>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__list-item"><a href="/">Home</a></li>
        <li class="header__list-item"><a href="/about">About</a></li>
        <li class="header__list-item"><a href="/contact">Contact</a></li>
      </ul>
    </nav>

  <div class="header__search">
    <button>
        <a href="/logout">Logout</a>
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </button>
  </div>
  
  </header>
   