 <div class="author">
    <h1 class="author__heading">Search Results</h1>
 </div>

 <section class="articles">
    <ul class="articles__list">

        <% data.forEach(post => { %>
         
        

        <li class="articles__list-item">
            <a href="/post/<%= post._id %>">
            <span class="post__title"><%=  post.title%></span>
            <span class="post__date"><%= post.createdAt.toDateString()  %></span>
            </a>
        </li>
    
        <% }) %>
    </ul>
 </section>