@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=SUSE:wght@100..800&display=swap');

:root{
    --black: #1c1c1c;
    --green : #43766C;
    --red: #FF0000;
    --cream : #F8FAE5;
    --light-brown : #B19470;
    --gray : #7e7e7e;
    --gray-light: #D3D3D3;
    --brown : #76453B;
    --font-size-base: 1rem;
    --font-size-small: clamp(0.875rem, 1vw, 1rem);
    --font-size-medium: clamp(1rem, 1.5vw, 1.25rem);
    --font-size-large: clamp(1.25rem, 2vw, 1.5rem);
    --border-radius: 10px;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--cream);
    background-color: var(--black);
}

a {color: var(--cream)}

h1 { font-size: var(--font-size-large); }
h2 { font-size: var(--font-size-medium); }
h3 { font-size: var(--font-size-small); }
 
/* input styling  */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-base);
    color: var(--black);
    background-color: var(--cream);
    border: 1px solid var(--gray);
    padding: 0.5rem;
    margin: 0.5rem 0;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
select:focus,
textarea:focus {
    border-color: var(--green);
    outline: none;
    box-shadow: 0 0 5px var(--green);
}

.btn {
    padding: 12px 28px;
    text-decoration: none;
    cursor: pointer;
}

img{
    width: 100%;
    height: auto; 
}

/* Author section */


/* Header */
.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
    grid-template-areas:
    "logo button"
    "menu menu"
    ;
}

@media only screen and (min-width: 768px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
        "logo menu button" 
        ;
    }
}

.header__logo{
    grid-area: logo;
    font-weight: 800;
    font-size: 25px; 
    
}

.header__logo a{
    text-decoration: none;
}

.header__logo:hover{
    text-decoration: underline;
}

.header__search{
    grid-area: button;
    display: flex;
    justify-content: end;
}

.header__search button {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    font-family: 'Inter', sans-serif;
    border: 0;
    padding: 6px 12px;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--black);
}

.header__search button:hover{
    border: 2px solid white;
}
/* Header -> Navigation  */
.header__nav{
    grid-area: menu;
    display: flex;
    justify-content: center;
}

.header__nav ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
}

.header__nav ul a {
    text-decoration: none;
    padding: 10px;
}

.header__nav ul a:hover {
    text-decoration: underline;
}

.header__nav ul a:active{
     color: var(--gray)
}

/* .Container and .main in main.ejs*/
.container{
    max-width: 982px;
    margin: 0 auto;
    padding: 0 10px;
}

.main{
    padding: 20px o;
}

.hero-image{
    max-height: 528px;
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 44px 34px rgba(0,0,0, 0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
    object-fit: cover;
    object-position: center;
}

/* Author */
.author {
    text-align: center;
}

.blog__post-title {
    font-weight: bold;
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 5px;
}

.blog__post-author {
    font-style: italic;
    margin-bottom: 5px;
    color: var(--gray);
}

.blog__post-body {
    font-size: var(--font-size-medium);
    line-height: 1.6;
    margin: 5px 0 40px 0 ;
}


/* Articles */

.articles {
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
}

.articles__heading{
    font-size: var(--font-size-large);
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.articles__list{
    font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.articles__list-item {
    margin-bottom: 14px;
    padding: 10px;
    border-bottom: 1px solid var(--gray);
}

.articles__list li a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin: 18px 0;
}

.articles__list li {
    font-size: 24px;
    cursor: pointer;
    transition: filter 0.1s;
}

.articles__list li:not(:last-child){
    border-bottom: 1px solid var(--cream );
}

.articles__list li:hover{
    filter: blur(1.3px); 
}

/* Article Post */
.post__title {
    display: block;
    margin-bottom: 5px;
}

.post__date {
    font-size: var(--font-size-base);
    color: #666;
}

@media only screen and (min-width: 768px) {
    .articles__list li a {
       flex-direction: row;
       align-items: center; 
    }

    .post__date {
        text-align: right;
    }
}

/* Pagination */

.pagination {
    display: block;
    text-align: left;
    margin-top: 20px;
    font-size: 16px;
    text-decoration: none;
}

.pagination:hover {
    text-decoration: underline;
}

/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: #595959;
}

.footer p {

    margin: 0;
}

/* Search bar */
/* Overall background blur effect when search bar is active */
.searchBar {
    visibility: hidden;
    transform: translateY(-100px);
    background-color: #f5f5dc; /* cream */
    padding: 8px 20px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -100px);
    max-width: 400px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.searchBar.open {
    transform: translate(-50%, 0);
    visibility: visible;
    transition: transform 0.2s ease;
}

/* Styling for the input */
.searchBar input {
    margin: 0;
    padding: 8px 10px;
    width: 100%;
    font-size: 1rem;
}

/* Close button styling */
#searchClose {
    position: absolute;
    top: 8px;
    right: 8px;
    color: var(--gray-light);
    padding: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: color 0.2s ease;
}

#searchClose:hover {
    color: var(--gray-dark);
}
/* Dashboard Admin */
.admin-title {
    font-size: var(--font-size-large);
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.admin-title h1 {
    font-size: 40px;
}

.admin-posts {
    padding: 0;
    margin: 0;
}

.admin-posts li {
    margin: 16px 20px;
    display: flex;
    justify-content: space-between;
}

.admin-post-controls form {
    display: inline-block
}



.admin-post-controls .btn {
    background-color: var(--green);
    color: var(--cream);
    border: none;
    margin: 8px 0;
    padding: 0.5rem ;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-post-controls .btn:hover {
    background-color: var(--light-brown);
}
